// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  // Rotate Into x with Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      // line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
// menu tusuyla alakali islemler
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9; // bunu kaldiradabilirim. menu kismi acilincaki kisim icin
  visibility: hidden; // ilk basta gorunmuyor. dugmeye basinca show class'i devreye giriyor ve gorunuyor

  &.show {
    visibility: visible;
  }

  // sag ve sol taraf beraber
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  // sag taraf
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none; // liste elemanlarinin solundaki noktayi kaldirmak icin
    transform: translate3d(
      0,
      -100%,
      0
    ); // -100% yaptigimiz icin menu kismi yukaridan asagiya ogru geldi
    @include easeOut;

    &.show {
      // slide in from top
      // menu kisminin ustten gelmesi icin
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side
  // ekranin sol kismi
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      // slide in from bottom
      // menu kisminin ustten gelmesi icin
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("/images/portrait.jpg");
      background-size: cover; // fotoyu ortalamasi icin yazdim
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      // slide in from right
      // menu icindekilerin sagdan gelmesi icin
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      // class'i current olan elemanin rengini belirledim
      color: $secondary-color;
    }
  }

  // menu deki elemanlar icin duzenleme
  .nav-link {
    display: block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    @include easeOut;

    &:hover {
      // menunun diger elemanlarinin ustune gidince olusacak renk
      color: $secondary-color;
      transform: scale(1.13);
    }
  }
}

// Delay each nav item slide by 0.15s
// navdaki itemlerin 0.15 saniye digerinden daha gec gelmesi icin
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.15s;
    // arada ne kadar fark olacagini burdan belirliyoruz
  }
}
