.blog-card {
  //max-width: 350px;
  //max-width: 100%; // box'lar kutuya width olarak tam sıgsın diye yaptım
  width: 100%;
  height: 330px;
  //position: absolute;
  position: relative;
  font-family: "Droid Serif", serif;
  color: #fff;
  //top: 10%;
  top: 0;
  right: 0;
  left: 0;
  //margin: 0 auto;
  margin: 0;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.4s;
  //background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
  background-size: 100%;

  a {
    color: black; // en ustteki baslik
    text-decoration: none;
    transition: all 0.3s;
  }

  .title-contentUp {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 0;
    bottom: 100%;
    right: 0;
    left: 0;

    transition: all 0.5s;
    opacity: 0;
  }

  h3 {
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: 1px;
    //font-family: "Abril Fatface", serif;
    //font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Raleway";
    margin-bottom: 0;
    //display: inline-block;
    display: block;
    font-weight: bolder;
    text-transform: capitalize;
    color: black;
    cursor: default;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 400;
    //letter-spacing: 1px;
    font-family: "Abril Fatface", serif;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    //display: inline-block;
    display: block;

    font-weight: bold;
    color: #e31b6d !important;
    cursor: default;
  }

  .card-info {
    box-sizing: border-box;
    width: 100%;
    height: 0;
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    //padding: 0 50px;
    padding: 0 30px 15px; // yazinin padding'ini ayarliyorum
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    transition: all 0.5s, opacity 0.9s cubic-bezier(0.33, 0.66, 0.66, 1);
    opacity: 0;

    a {
      display: block;
      //width: 120px;
      width: 80%;
      margin: 15px auto;
      background: #fff;
      color: #444;
      padding: 10px 10px;
      //border-radius: 10px;
      border: 2px solid #e31b6d;
      font-size: 1.3em;

      &:hover {
        //background: #8e7c49;
        //background: $secondary-color;
        background: #e31b6d;
        color: #fff;

        span {
          filter: brightness(10);
          opacity: 1;
        }
      }
    }
  }

  .color-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: all 0.4s linear;
  }

  &:hover {
    box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.65),
      -7px -7px 40px rgba(0, 0, 0, 0.65);

    .title-contentUp {
      opacity: 1;
      bottom: 0;
      height: 82%;
    }

    .card-info {
      opacity: 1;
      height: 100%;
      top: 50%;
    }

    .color-overlay {
      // box'larin ustune gelince olusan hover etkisi
      background: #fff;
      opacity: 1;
    }
  }
}

.licon {
  position: relative;
  width: 23px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}
.licon:before {
  content: "";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px
    no-repeat;
  background-size: 250px;
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: -3px;
  left: 0;
}
.icon-white {
  filter: brightness(10);
}
.icon-black {
  filter: brightness(0);
  opacity: 0.6;
}

@media (max-width: 500px) {
  .blog-card:hover .title-content,
  .title-content {
    margin-top: 40px;
  }
  .blog-card h3 {
    font-size: 1.3em;
  }
}

// rubberbrand effect
@keyframes rubberBandd {
  25% {
    transform: scale(1.3, 0.6);
  }
  35% {
    transform: scale(0.6, 1.3);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  65% {
    transform: scale(0.9, 1.02);
  }
}

// transition lara dikkat
.categoryHeadBox ul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  li {
    list-style: none;
    margin: 0 1rem;
    font-size: 1.6rem;
    position: relative;

    //transition: 0.4s;
    &:hover {
      cursor: pointer;
      //color: #a8ca6b;
      color: $secondary-color;
      color: #bda26b;
      color: #3498db;
      //color: #e31b6d;
      //animation: rubberBandd 1.2s ease-in-out;
      text-shadow: #fff -0.5px 0px 0.5px, #fff 0px 0.5px 0.5px,
        #fff 0px -0.5px 0.5px, #fff 0.5px 0px 0.5px, #fff -0.5px -0.5px 0.5px,
        #fff 0.5px 0.5px 0.5px, #fff -0.5px 0.5px 0.5px, #fff 0.5px -0.5px 0.5px;
    }

    // &::after {
    //   content: " ";
    //   display: block;
    //   width: 0%;
    //   height: 3px;
    //   margin: 5px auto 10px;
    //   //border: 0.01px solid #333;
    //   //border: 0;
    //   background: #bda26b;
    //   background: #f6af1f;
    //   background: #fff;
    //   //background: #e31b6d;
    //   transition: all 0.3s linear;
    //   visibility: hidden;
    // }

    &::after {
      content: "";
      position: absolute;
      /* background: #999; */
      background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
      background-image: linear-gradient(150deg, #fff, #00c4ff, #fff);
      width: 60%;
      height: 5px;
      //margin: 5px auto 10px;

      bottom: -15px;
      left: 50%;
      transform: translateX(-50%) skew(-50deg);
      visibility: hidden;
    }
  }
}

@keyframes changeLetterrr {
  // asagida kullandim
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}

ul li.active {
  //color: #a8ca6b;
  color: $secondary-color;
  color: #bda26b;
  color: #3498db;
  text-shadow: #fff -0.5px 0px 0.5px, #fff 0px 0.5px 0.5px,
    #fff 0px -0.5px 0.5px, #fff 0.5px 0px 0.5px, #fff -0.5px -0.5px 0.5px,
    #fff 0.5px 0.5px 0.5px, #fff -0.5px 0.5px 0.5px, #fff 0.5px -0.5px 0.5px;

  // text-shadow: #333 -1px 0px 1px, #333 0px 1px 1px, #333 0px -1px 1px,
  //   #333 1px 0px 1px, #333 -1px -1px 1px, #333 1px 1px 1px, #333 -1px 1px 1px,
  //   #333 1px -1px 1px;

  &:after {
    visibility: visible;
    animation: changeLetterrr 0.5s 1 linear;
    //animation: changeLetterrr 0.4s 1 ease-in-out;
    // animation: 0.4s 1 linear;
    width: 100%; // title'nin altindaki cizginin ne kadar uzayacagini belirliyorum
  }
}
